footer.p-t-5.bg-dark
    .container
        .row
            .col-md-3.foot-1.text-white
                p(class="foot-1") 
                i(class=" fa fa-copyright") Ace Africa 2020.
                p
                a(href="#" class="info text-white") info@aceafrica.
                p
                a(href="#" class="info text-white") P: 888-240-1467
            .col-md-3.text-white.foot-2.info
                p(class="")
                a(href='#' class="text-white info") Capabilities
                p
                a(href='#' class="text-white info") About Us
                p
                a(href='#' class="text-white info") Blog
                p
                a(href='#' class="text-white info") Privacy Policy
                p
                a(href='#' class="text-white info") Terms & Conditions
            .col-md-3.text-white.foot-3
                p(class="") Office
                p(class="") Lagos, Nigeria
                p(class="") Austin, Texas
                p(class="") Berlin, Germany
            .col-md-3.foot-4
                p(class="info")
                    
                    a(href="#" class="text-white info")
                        i(class="fa fa-linkedin text-white" aria-hidden="true") 
                p(class="")
                     
                    a(href="#" class="text-white info")  
                        i(class="fa fa-facebook-f text-white") 
                p 
                    
                    a(href="#" class="text-white info")
                        i(class="fa fa-twitter text-white") 
                p
                    
                    a(href="#" class="text-white info")
                        i(class="fa fa-instagram text-white") 
                p
                    
                    a(href="#" class="text-white info")
                        i(class="fa fa-youtube text-white") 