doctype html
head
  title=title
  meta(name='viewport' content='width=device-width  initial-scale=1.0')
  meta(name='description' content="Andela builds remote engineering teams that work. \
  Doing remote well is hard. We've helped hundreds of companies build and manage high performing teams.")
  meta(name='keyword' content='payments, africa, nigeria, remote, fintech, tech in africa, engineering, mobile money, mobile money, andela.')
  meta(property='og:type' content='website')
  meta(property='og:url' content='https://andela.com')
  meta(property='og:site_name' content='Andela')
  meta(property='og:title' content="Andela - Andela builds remote engineering teams that work. \
  Doing remote well is hard. We've helped hundreds of companies build and manage high performing teams.")
  meta(property='og:description' content="Andela builds remote engineering teams that work. \
  Doing remote well is hard. We've helped hundreds of companies build and manage high performing teams.")
  meta(property='og:image' itemprop='image primaryOfPage' content='assets/images/andela-logo.png')
  meta(name='twitter:card' content='summary_large_andela')
  meta(name='twitter:domain' content='https://andela.com')
  meta(name='twitter:title' content="Andela - Andela builds remote engineering teams that work. \
  Doing remote well is hard. We've helped hundreds of companies build and manage high performing teams.")
  meta(name='twitter:description' content="Andela builds remote engineering teams that work. \
  Doing remote well is hard. We've helped hundreds of companies build and manage high performing teams..")
  meta(name='twitter:url' content='https://www.andela.com')
  meta(name='twitter:image' content='images/andela-logo.png')
  meta(property='web-app-capable' content='yes')
  meta(property='theme-color' content='#339')
  meta(name='robots' content='no-follow')
  meta(name='application-name' content='Andela')
  link(rel='apple-touch-icon' href='images/andela-logo.png')
  link(rel='icon' type='image/png' href='images/Andela-logo@2x.png')
  link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
  link(rel='stylesheet' , href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='/css/style.css' media='all' rel='stylesheet')
  block content